body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: large;
}

h2 {
    color: #333;
}

/* Form container */
form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Input fields */
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Textarea specific styles */
textarea {
    resize: vertical;
}

/* Buttons */
button {
    background-color: #007bffb9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px 10px; /* Padding adjusted for text fit */
    margin: 2px; /* Reduced space between buttons */
    font-size: 14px; /* Font size adjustment */
}

button:hover {
    background-color: #0056b3;
}

/* Centered submit button */
.submit-button-container {
    text-align: center; /* Center the button */
    margin-top: 20px;  /* Space above the button */
    font-size: 20px;
    padding: 5px 10px;
}

/* Question container */
.question-container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

/* Delete question button */
.delete-question-button {
    background-color: #dc354658;
}

.delete-question-button:hover {
    background-color: #c82333;
}

/* Options for choice-based questions */
.options-container {
    margin-top: 10px;
}

/* Add question button */
.add-question-button {
    background-color: #28a745;
}

.add-question-button:hover {
    background-color: #218838;
}
